# 네이버 지도 (NAVER Cloud Platform > Maps > Web Dynamic Map)
# 1) console.ncloud.com 에서 Maps 애플리케이션 등록
# 2) Web 서비스 URL 에 http://localhost:3000 과 https://www.gssmclean.co.kr 등록
# 3) 발급된 Client ID(ncpKeyId)를 아래에 입력 후 파일명을 .env.local 로 복사
# 4) 개발 서버 재시작 (NEXT_PUBLIC_ 변수는 빌드시 주입됨)
NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=여기에_발급받은_Client_ID
